tr 
	td
		a(href="/user/#{bonus.user._id}") #{bonus.user.username}
	td $ #{bonus.amount}
	td #{bonus.created.getDate()} / #{bonus.created.getMonth()+1} / #{bonus.created.getFullYear()}
	td 
		-if(typeof bonus !== "undefined")
			a(href="/bonus/#{bonus._id}") Ver