#header
	a(href="/")
		img(src="/img/logo_giombu.png")
	.pull-right
		include form_suscription
	nav(role="navigation").navbar.navbar-default
		.container-fluid
			.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-left
					-if((typeof expose.user) !== "undefined")
						-if(typeof expose.user.selected_franchise === "undefined")
							li
								a( href="#", data-toggle="modal", data-target="#SelectorFranchiseModal") Cambiar de cuidad
									icon.icon-chevron-down
						-else
							li
								a( href="#", data-toggle="modal", data-target="#SelectorFranchiseModal") #{expose.user.selected_franchise.name}
									icon.icon-chevron-down
					-else
						li
							a( href="#", data-toggle="modal", data-target="#SelectorFranchiseModal") Cambiar de cuidad
								icon.icon-chevron-down
				ul.nav.navbar-nav
					li
						a(href='/deals/home') Ofertas de hoy
					li
						a(href='/deals/travel') Descuentos en viajes
						include ../partials/franchises/franchise_selector_modal
				ul.nav.navbar-nav.navbar-right
					-if ((typeof expose.user) === "undefined")
						li
							a(href="/users/create")
								span.glyphicon.glyphicon-plus.col-md-pull-1
								|Registrate
						li
							a(href='#myModal', role='button', data-toggle='modal')
								span.glyphicon.glyphicon.glyphicon-log-in.col-md-pull-1
								|Accede
					-else
						li
							a(href="/users/profile" )
								span.glyphicon.glyphicon-user.col-md-pull-1
								|#{expose.user.name}
						li
							a(href="/users/logout" )
								span.glyphicon.glyphicon-log-out.col-md-pull-1
								|Salir
						//.selected_franchise
						//	a(href="/intranet/deals/list/#{user.selected_franchise}") #{user.selected_franchise}
	-if (expose.message)
		.alert.alert-info.alert-dismissable
			button(type="button" class="close" data-dismiss="alert" aria-hidden="true")&times;
			p #{expose.message}
	-if (expose.error)
		.alert.alert-danger.alert-dismissable
			button(type="button" class="close" data-dismiss="alert" aria-hidden="true")&times;
			p #{expose.error}
