// my-template.jade
extends ../layout

//Bloque de contenido.
block content
	div( class='contenedor')
		div(class='container_form')
			form(method='post', id="promoters_register" ,action='/promoters/update').form-horizontal
				.form-group.col-md-8
					label.control-label Titulo de tu página personal:
					input(name='page_title', type='text' ,class="form-control required", value="#{user.promoter[0].page_title}") 
				.form-group.col-md-8
					label.control-label Cuerpo de la página personal:
					textarea(name='page_body', rows="13", cols="70",type='text',class="form-control required") #{user.promoter[0].page_body} 
				.form-group.col-md-8
					label.control-label Invitación a suscriptores:
					textarea(name='subscribers_invite',rows="13", cols="70", type='text',class="form-control required")	#{user.promoter[0].subscribers_invite}
				.form-group.col-md-8
					label.control-label.col-md-4 Fuiste invitado por:
					-if(typeof user.promoter[0].parent_id !== "undefined")
						input.col-md-4(name='parent_id',data-items="4", data-provide="typeahead", placeholder="Usuario", class="form-control input-sm users_input typeahead", value="#{parent.username}", type='select') 
					-else
						input.col-md-4(name='parent_id',data-items="4", data-provide="typeahead", placeholder="Usuario", class="form-control input-sm users_input typeahead",value="#{expose.user.promoter_id.username", type='select') 
					br
					br
				.form-group.col-sm-offset-3.col-sm-8
					button(type='submit').btn.btn-primary Guardar
