// my-template.jade
extends ../layout

//Bloque de contenido.
block content
	h3 Crear Newsletter
	.col-md-8
		form(method='post',id="newsletters_create" ,action='/newsletters/send').form-horizontal
			.form-group
				label.col-md-4.control-label Incluir Franquicias:
				.col-md-8
					select(name='newsletter[franchise]', type='text' ,class="required") 
						-each franchise in franchises
							option(value="#{franchise._id}") #{franchise.name}
			-var i = 0
			.form-group
				label.col-md-4.control-label Incluir ofertas:
				.col-md-8
					-each deal in deals
						label
							input(type="checkbox", name="newsletter[deals][#{i}]", value="#{deal._id}")
							| #{deal.title} 
						-i++
			.form-group
				label.col-md-4.control-label Incluir ofertas:
				.col-md-8
					select(name='time_selector', type='text' ,class="required") 
						option(value="end_near") Proximas a vencerse.
						option(value="recently_created") Creadas ultimamente.
			.form-group
				label.col-md-4.control-label Fecha de inicio:
				.col-md-8
					input(name='start_timeframe', type='date', placeholder="dd/mm/yyyy" ,class="required date").form-control.input-sm
				label.col-md-4.control-label Fecha de fin:
				.col-md-8
					input(name='end_timeframe', type='date', placeholder="dd/mm/yyyy" ,class="required date").form-control.input-sm
			input(type='submit', value='Crear')