extends ../layout 

block content
	.span9
		h3 Lista de Ofertas
		.glyphicon.glyphicon-plus
		-if(RolesHelper.seller(expose.user))
			a(href="/deals/create")
				p  Cargar oferta
		br
		br
		br
		table.table_deal_list
			-if (deals.length == 0)
				p No tienes ofertas
			-each deal in deals
				.well(id="#{deal._id}")
					a(href="/deals/summary/#{deal._id}", class="btn btn-primary pull-right active", role="button") Resumen
					-if((RolesHelper.seller(expose.user)&&(expose.user._id === deal.seller))||RolesHelper.admin(expose.user))
						.btn-group.pull-right.state_selector
							button(type="button",class="btn btn-default status_selector dropdown-toggle #{deal.status}", data-toggle="dropdown")
								span Cambiar Estado
									span(class="caret")
							ul(class="dropdown-menu", role="menu")
								li
									a(class="deal_status_selector", href="#", state="draft" ,url="/deals/#{deal._id}/state/draft") Borrador
								li
									a(class="deal_status_selector", href="#", state="active", url="/deals/#{deal._id}/state/active") Activa
								li
									a(class="deal_status_selector", href="#", state="closed", url="/deals/#{deal._id}/state/closed") Cerrar
					include ../partials/deals/review