// my-template.jade
extends ../home

block content
		-var images = deal.images
		-var id = deal._id
		-var param = 'deals'
		-var title = deal.title
		-var description = deal.characteristics
		p #{expose.user._id}
		br
		p pepe
		p #{deal.creator}
		-if(deal.creator == expose.user._id)
			a(href="/deals/edit/#{deal._id}") Editar
		include ../partials/images/carousel
		include ../partials/deals/checkout_link
		.deal_body.col-md-9
			.col-md-6.container.countdown(id='Deal#{i}' ,data-end="#{deal.end_date.getMonth()+1}/#{deal.end_date.getDate()}/#{deal.end_date.getFullYear()} #{deal.end_date.getHours()}:#{deal.end_date.getMinutes()}:#{deal.end_date.getSeconds()}", data-gmt="-#{deal.end_date.getTimezoneOffset()/60}")
			table.table
				tr
					td Titulo:
					td #{deal.title}
				tr
					td Subtitulo:
					td #{deal.tagline}
				tr
					td Link:
					td #{deal.slug}
				tr
					td Caracteristicas:
					td #{deal.characteristics}
				tr
					td Condiciones:
					td #{deal.conditions}
			br
			.alert.alert-info
				p Podrás canjear esta oferta a partir del día #{deal.start_redeem.getDate()} / #{deal.start_redeem.getMonth()+1} / #{deal.start_redeem.getFullYear()}  y hasta el día #{deal.end_redeem.getDate()} / #{deal.end_redeem.getMonth()+1} / #{deal.end_redeem.getFullYear()} 
			-var store = deal.store 
			.col-sm-4
				include ../partials/store/store
