// my-template.jade
extends ../layout

block content
	.nav.nav-tabs
		li
			a(href="#review", data-toggle="tab") Informacion
		-if(RolesHelper.isPartner(expose.user._id, deal.store)) //Partner	
			li
				a(href="#coupons", data-toggle="tab") Cupones
	.tab-content
		.tab-pane(id="review").active
			h2 Oferta: #{deal.title}
			.glyphicon.glyphicon-eye-open 
			a(href='/deals/#{deal._id}' target="blank")  Vista Previa
			br
			.icon.glyphicon.glyphicon-pencil
			a(href='/deals/edit/#{deal._id}')  Editar

			br
			.glyphicon.glyphicon-remove
			a(href='/deals/remove/#{deal._id}').text-danger  Eliminar
			h3 Datos generales

			table.table-condensed
				tr
					td.pull-right 
						strong Estado:
					td #{deal.status}
				tr
					td.pull-right 
						strong Titulo:
					td #{deal.title}
				tr
					td.pull-right 
						strong Subtitulo:
					td #{deal.tagline}
				tr
					td.pull-right 
						strong Link:
					td #{deal.slug}
				tr
					td.pull-right 
						strong Caracteristicas:
					td #{deal.characteristics}
				tr
					td.pull-right 
						strong Condiciones:
					td #{deal.conditions}

			br
			h3 Precios

			table.table-condensed
				tr
					td.pull-right 
						strong Precio original:
					td $ #{deal.price} 
				tr
					td.pull-right 
						strong Precio Final:
					td $ #{deal.special_price} 
				tr
					td.pull-right
						strong Descuento:
					td $ #{deal.discount} 

			br
			h3 Fechas

			table.table-condensed
				tr
					td.pull-right 
						strong Inicio de la oferta:
					td #{deal.start_date}
				tr
					td.pull-right
						strong Fin de la oferta:
					td #{deal.end_date}
				tr
					td.pull-right 
						strong Inicio de canje:
					td #{deal.start_redeem}
				tr
					td.pull-right
						strong Fin de canje:
					td #{deal.end_redeem}

			br
			h3 Cantidad de cupones

			table.table-condensed
				tr
					td.pull-right 
						strong Cantidad maxima:
					td #{deal.max_coupons}
				tr
					td.pull-right 
						strong Maxima por usuario:
					td #{deal.max_coupons_by_user} 

			br
			h3 Porcentajes

			table.table-condensed
				tr
					td.pull-right
						strong Vendedor:
					td #{deal.seller_percentage}%
				tr
					td.pull-right 
						strong Giombu:
					td #{deal.giombu_percentage}%
				tr
					td.pull-right
						strong Promotor:
					td #{deal.promoter_percentage}%

			br
			h3 Otras

			table.table-condensed
				tr
					td.pull-right 
						strong Costo de Envío:
					td #{deal.shipping_cost} $
				tr
					td.pull-right 
						strong Tienda:
					td #{deal.store.name} 
				tr
					td.pull-right 
						strong Vendedor:
					td #{deal.seller}
				tr
					td.pull-right 
						strong Franquiciante:
					td #{deal.franchisor}
			br
			-var route_name = "deals"
			-var get_id = deal._id
			include ../includes/image_upload

			-for (var i = deal.images.length - 1; i >= 0; i--)
				-var image = deal.images[i]
				-var param ="deals"
				include ../partials/deals/image_list
		-if(deal.partner === expose.user._id) //Partner	
			.tab-pane(id="coupons")
				h3 Cupones
				-each sale in deal.sales
					-each coupon in sale.coupons
						include ../partials/coupons/view