
// my-template.jade
extends ../layout

//Bloque de contenido.
block content
	.img_profile
		-if (contacts)
			h5 Tenes #{contacts.length} contactos!
	ul(class="nav nav-tabs nav-justified")
		li.active
			a(href="#misdatos", data-toggle="tab") Datos
		li
			a(href="#missuscripciones", data-toggle="tab") Suscripciones
		li
			a(href="#misofertas", data-toggle="tab") Ofertas
		li
			a(href="#miscomisiones", data-toggle="tab") Comisiones
		li
			a(href="#misbonos", data-toggle="tab") Bonos
		li
			a(href="#misimagenes", data-toggle="tab") Imagenes
		-if(RolesHelper.member(expose.user)|| RolesHelper.franchisorAdministrator(expose.user) || RolesHelper.generalAdministrator(expose.user)|| RolesHelper.admin(expose.user))
			li
				a(href="#administration", data-toggle="tab") Administración
	.tab-content
		.tab-pane.fade.active.in#misdatos
			h3 Datos del usuario: #{user.username}
			span.glyphicon.glyphicon-pencil
			a(href="/users/profile/edit") Editar datos
			table.table-condensed
				tr 
					td.pull-right
						h5 Nombre:
					td #{user.name} #{user.lname}
				tr
					td.pull-right 
						h5 Email:
					td #{user.email}
				tr 
					td.pull-right 
						h5 Dirección:
					td #{user.address} - #{user.city.name}, #{state.name} - #{country.name}
				tr 
					td.pull-right 
						h5 Telefono:
					td #{user.phone}
				tr 
					td.pull-right 
						h5 Movil:
					td #{user.mobile}
		-if(RolesHelper.member(expose.user)|| RolesHelper.franchisorAdministrator(expose.user) || RolesHelper.generalAdministrator(expose.user)|| RolesHelper.admin(expose.user))
			.tab-pane.fade.in#administration
				include ../partials/users/add_roles
		.tab-pane.fade.in#misofertas
			table.misofertas
				-if (deals)
					-each deal in deals
						tr 
							td.tdmisdatos 
							td
								a(href="/deals/view/#{deal._id}") #{deal.title} 
							td $  #{deal.special_price}	
		.tab-pane.fade.in#missuscripciones
			table.missuscripciones
				-if (subscriptions)
					-each subscription in subscriptions
						tr 
							td.tdmisdatos Nombre:
							td #{subscription.franchise.name}
						tr
							td.tdmisdatos Email:
							td #{subscription.created}
		.tab-pane.fade.in#misbonos
			table.misbonos
				tr
					th Monto
					th Fecha
				-if (bonuses)
					-each bonus in bonuses
						tr 
							td #{bonus.amount}
							td #{bonus.created}
		.tab-pane.fade.in#miscomisiones
			table.miscomisiones
				tr
					th Monto
					th Fecha
				-if (commissions)
					-each commission in commissions
						tr 
							td #{commission.amount}
							td #{commission.created}
		.tab-pane.fade.in#misimagenes
			h3 Agregar Imagenes
			-var route_name = "users"
			-var get_id = user._id
			include ../includes/image_upload
			- images = user.images
			- param = "users"
			- id = user._id
			.images
				-if (images.length > 0)
					include ../partials/images/carousel
				-for (var i = images.length - 1; i >= 0; i--)
					-var image = images[i]
					include ../partials/images/media_list
		-if (!(typeof user.promoter[0] === "undefined"))
			h3 Promotor
			table
				tr
					td Promotor:
					td
				tr
					td Introduccion:
					td #{user.promoter[0].page_title}
				tr
					td Cuerpo
					td #{user.promoter[0].page_body}

		-if (user.partner)
			h3 Partner
			table
				tr
					td	Tienda:
					td	#{user.partner[0].email}
		-if (user.seller)
			h3 Vendedor
			table
				tr
					td	Vendedor:
					td
//		.progress.progress-striped.active
//			.bar(style="width: #{contacts}%;") 
//			h6 #{contacts} Contactos
		.results
			h4 Suscripciones
				-for (var i = subscriptions.length - 1; i >= 0; i--) {
					p #{subscriptions[i].franchise.name}
				-};
			h4 Ofertas compradas
		table.table
			-each deal in deals
				tr
					td
						span.label.pull-right #{deal.status}
					td
						img( src="/images/243_large_f4415b921f7e566042424fb70b1ba3a4.jpeg").span2
					td
						h5 #{deal.title}
					td
						p #{deal.tagline}
					td.span1
						a(href="/intranet/deals/view/#{deal._id}").btn.pull-right Ver
	