extends ../layout

block content
	h3 Noticias
	ul.pager
		-if(previous_page > 0)
			li.previous
				a(href="/news/#{previous_page}")
					|&larr; Anterior
		-else
			li.previous.disabled
				a(href="#")
					|&larr; Anterior
		li.next
			a(href="/news/#{next_page}")
				|Posterior &rarr;
		//-if(more_pages)
		//-else
		//	li.next.disabled
		//		a(href="#")
		//			|Posterior &rarr;
	-each new_element in news_list
		.well
			strong #{new_element.title}
			p #{new_element.message}
			small.text-muted.pull-right #{new_element.date}