extends ../home

block content

	-if(typeof expose.user === "undefined")
		.col-md-4
			h4 ¿Estas Resgistrado?
			br
			form(method='post', action='/users/login/', role="form").form-horizontal
				.form-group
					label.col-md-4 Usuario
					.col-md-8
						input(name='username', type='text', class="required").form-control
				.form-group
					label.col-md-4 Contraseña
					.col-md-8
						input(name='password', type='password', class="required").form-control
				br
				button(name='submit', type='submit').btn.btn-primary.col-md-offset-9.col-md-3 Ingresar
		
		.col-md-6.col-md-offset-1
			h4 Nuevo Usuario
			br
			h5 1) Direccion
			form(method='post', id="users_register", action='/users/save').form-horizontal
				table 
					.form-group
						label.col-md-4 Nombre de Usuario
						.col-md-8
							input(name='username', type='text', class='required').form-control
					.form-group
						label.col-md-4 Nombres
						.col-md-8
							input(name='name', type='text' ,class="required").form-control
					.form-group
						label.col-md-4 Apellido(s)
						.col-md-8
							input(name='lname', type='text' ,class="required").form-control
					.form-group
						label.col-md-4 Email
						.col-md-8
							input(name='email', type='text' ,class="required email").form-control
					.form-group
						label.col-md-4 Contraseña
						.col-md-8
							input(name='password', type='password').form-control
					.form-group
						label.col-md-4 Confirmar contraseña
						.col-md-8
							input(name='confirm_password', type='password').form-control
					.form-group
						label.col-md-4 Fecha de nacimiento
						.col-md-8
							input(name='birthday', type='date').form-control
					.form-group
						label.col-md-4 Genero
						.col-md-8
							select.form-control
								option(value='m') Masculino
								option(value='f') Femenino
					.form-group
						label.col-md-4 Phone
						.col-md-8
							input(name='phone', type='text').form-control
					.form-group
						label.col-md-4 Cell Phone
						.col-md-8
							input(name='mobile', type='text').form-control
					.form-group
						label.col-md-4 Direccion 
						.col-md-8
							input(name='address', type='text').form-control
					.form-group
						label.col-md-4 Pais
						.col-md-8
							select(name='country', type='text' ,class="required").form-control
								option( value="argentina") Argentina
					.form-group
						label.col-md-4 Provincia
						.col-md-8
							select(name='state', type='text' ,class="required").form-control
								option( value="entrerios") Entre Rios
					.form-group
						label.col-md-4 Ciudad
						.col-md-8
							select(name='city', type='text' ,class="required").form-control
								option( value="parana") Parana
					.form-group
						label.col-md-4 Zip
						.col-md-8
							input(name='zip', type='text').form-control
					.form-group
						label.col-md-4 Nombre de Usuario Que te Invito 
						.col-md-8
							input(type='text', name="inviter",placeholder="Usuario" ,class="users_input typeahead" , data-provide="typeahead", data-items="4").form-control
	-else
		form(action="/sales/buy",id="buy_form", method="post", role="form").form-horizontal
			input(type="hidden", value="#{deal._id}", name="id")
			h4 Tu compra
			br
			include ../partials/sale/checkout
			h4 Forma de pago
			br
			.col-md-5
				.form-group
					label.col-md-4 Medio de pago:
					.col-md-8
						select(type="text", name="payment_type").form-control
							optgroup( label="Tarjeta de Crédito") 
								option(value="mastercard") Mastercard
								option(value="visa") Visa
								option(value="cabal") Cabal
								option(value="argencard") Argencard
							optgroup( label="Otras formas de pago")
				.form-group
					label.col-md-4 Nro. Tarjeta:
					.col-md-8
						input(type="text", name="card_number", maxlength="16" , class="input-large", size="16").form-control
				.form-group
					label.col-md-4 Cod. Seguridad:
					.col-md-8
						input(type="text", name="card_safety_numbers", maxlength="3", class="input-small", size="3").form-control
				.form-group
					label.col-md-4 Nombre Completo:
					.col-md-8
						input(type="text", name="complete_name", class="input-large").form-control
				.form-group
					label.col-md-4 DNI:
					.col-md-8
						input(type="text", name="dni" , maxlength="16" , class="input-large" , size="16").form-control
				input(type='submit', value='Confirmar Compra').btn.btn-primary.col-md-offset-8.col-md-4

//				.content
//					.div_left
//
//						p #{deal.tagline}
//						p Fecha de canje #{deal.start_redeem} Hasta #{deal.end_redeem}
//					form(method='post', action='/sales/buy/#{deal._id}')
//						table
//							tr
//								td.quantity Unidades
//									select(name='quantity') 
//										each item in list
//											option(value='#{item}') #{item}
//	
//								td.Precio_Giombu Precio Giombu
//									$ #{deal.special_price}
//								td.Total Total
//									span.total-of-sale
//								

									
			
